<div class="list-item-container">
  <form
    #prayerForm="ngForm"
    class="list-item-container"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Title" required name="prayerTitle" [(ngModel)]="itemModel.title">
    </mat-form-field>

    <mat-form-field>
    <textarea
      cdkTextareaAutosize="true"
      cdkAutosizeMaxRows="20"
      class="content-textarea"
      type="text"
      matInput
      placeholder="Text"
      required
      name="prayerText"
      [(ngModel)]="itemModel.text"></textarea>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" >
      <mat-form-field fxFlex="50">
        <input matInput placeholder="Id" required name="prayerItemId" [(ngModel)]="itemModel.itemId">
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Tag" required name="prayerTag" [(ngModel)]="itemModel.tag">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input type="number" matInput placeholder="Type" required name="prayerType" [(ngModel)]="itemModel.type">
      </mat-form-field>
    </div>


    <div *ngFor="let segmentedItem of itemModel.segmentedList">
      <app-item-content-segment
        [segmentedModel]="segmentedItem"
        (removeSegmentedItemEvent)="onRemoveSegmentedItem($event)"></app-item-content-segment>
    </div>

    <form
      #segmentedForm="ngForm"
      class="list-item-container"
      (ngSubmit)="addSegmentedToList(segmentedForm)">

      <mat-form-field>
        <input
          matInput
          placeholder="Segmented Title"
          required
          name="segmentedTitle"
          ngModel>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Segmented Text"
          required
          name="segmentedText"
          ngModel>
      </mat-form-field>

      <button mat-raised-button color="warn" type="submit">Add Segmented Item</button>
    </form>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
