<div class="list-item-container">

  <mat-form-field>
    <input matInput placeholder="Title" required [(ngModel)]="itemModel.title">
  </mat-form-field>

  <mat-form-field>
    <textarea cdkTextareaAutosize="true" cdkAutosizeMaxRows="20" class="content-textarea" type="text" matInput
              placeholder="Text" required [(ngModel)]="itemModel.text"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Id" required [(ngModel)]="itemModel.itemId">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Type" required [(ngModel)]="itemModel.type">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Tag" required [(ngModel)]="itemModel.tag">
  </mat-form-field>

  <form
    class="list-item-container"
    (ngSubmit)="onSubmit()">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
