<div class="list-item-container">
  <form
    #prayerForm="ngForm"
    class="list-item-container"
    (ngSubmit)="onSubmitClick()">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field fxFlex>
        <input
          id="title"
          name="title"
          minlength="4"
          matInput
          placeholder="Title"
          class="form-control"
          required
          [(ngModel)]="itemModel.title"
          #title="ngModel">
      </mat-form-field>
      <div [hidden]="title.valid">
        <mat-icon color="primary">error</mat-icon>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field fxFlex>
    <textarea
      cdkTextareaAutosize="true"
      cdkAutosizeMaxRows="20"
      class="content-textarea"
      type="text"
      id="text"
      name="text"
      minlength="4"
      matInput
      placeholder="Text"
      [required]="itemModel.type === 0"
      [(ngModel)]="itemModel.text"
      #text="ngModel"></textarea>
      </mat-form-field>
      <div [hidden]="text.valid">
        <mat-icon color="primary">error</mat-icon>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
      <mat-form-field fxFlex="50">
        <input id="id" name="id" #id="ngModel" matInput placeholder="Id" required [(ngModel)]="itemModel.itemId">
      </mat-form-field>
      <div [hidden]="id.valid">
        <mat-icon color="primary">error</mat-icon>
      </div>

      <mat-form-field fxFlex="30">
        <input #tag="ngModel" id="tag" name="tag" matInput placeholder="Tag" required [(ngModel)]="itemModel.tag">
      </mat-form-field>
      <div [hidden]="tag.valid">
        <mat-icon color="primary">error</mat-icon>
      </div>

      <mat-form-field fxFlex="20">
        <mat-select [value]="itemModel.type" #prayerTypeSelect (selectionChange)="changePrayerType(prayerTypeSelect)">
          <mat-option [value]="0">Single prayer</mat-option>
          <mat-option [value]="1">Listed prayer</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="itemModel.type === 1">
      <div *ngFor="let segmentedItem of itemModel.segmentedList">
        <app-item-content-segment
          [segmentedModel]="segmentedItem"
          (removeSegmentedItemEvent)="onRemoveSegmentedItem($event)"></app-item-content-segment>
      </div>

      <form
        #segmentedForm="ngForm"
        class="list-item-container"
        (ngSubmit)="addSegmentedToList(segmentedForm)">

        <mat-form-field>
          <input
            matInput
            placeholder="Segmented Title"
            required
            name="segmentedTitle"
            ngModel>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Segmented Text"
            required
            name="segmentedText"
            ngModel>
        </mat-form-field>

        <button mat-raised-button color="warn" type="submit">Add Segmented Item</button>
      </form>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!prayerForm.form.valid">Submit</button>
  </form>
</div>
