<mat-expansion-panel (opened)="setPanelState(true)"
                     (closed)="setPanelState(false)">
  <mat-expansion-panel-header>
    <mat-panel-title *ngIf="!isEditMode">
      {{thoughtModel.title}}
    </mat-panel-title>
    <mat-panel-description *ngIf="!isEditMode">
      Size: {{thoughtModel.text.length}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p *ngIf="!isEditMode">{{thoughtModel.text | textShortener}}</p>
  <mat-action-row>
    <button mat-button color="warn" (click)="onDeleteFirebaseItem(thoughtModel.title)">Remove</button>
    <button (click)="changeEditMode()" mat-button color="accent">{{isEditMode ? "Cancel" : "Edit"}}</button>
  </mat-action-row>
  <app-edit-content-thought
    *ngIf="isEditMode"
    [itemModel]="thoughtModel"></app-edit-content-thought>
</mat-expansion-panel>
