<mat-expansion-panel (opened)="setPanelState(true)"
                     (closed)="setPanelState(false)">
  <mat-expansion-panel-header>
    <mat-panel-title *ngIf="!isEditMode">
      {{prayerModel.title}}
    </mat-panel-title>
    <mat-panel-description *ngIf="!isEditMode">
      Size: {{prayerModel.text.length}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p  *ngIf="!isEditMode">{{prayerModel.text | textShortener}}</p>
  <mat-action-row>
    <button mat-button color="warn" (click)="onDeleteClick()">Remove</button>
    <button (click)="changeEditMode()" mat-button color="accent">{{isEditMode ? "Cancel" : "Edit"}}</button>
  </mat-action-row>
  <app-edit-content-prayer
    *ngIf="isEditMode"
    [itemModel]="prayerModel"></app-edit-content-prayer>
</mat-expansion-panel>
