<div class="list-item-container">

  <mat-form-field>
    <input type="text" matInput placeholder="Title" required [(ngModel)]="itemModel.title">
  </mat-form-field>

  <mat-form-field>
    <textarea
      cdkTextareaAutosize="true"
      cdkAutosizeMaxRows="20"
      class="content-textarea"
      type="text"
      matInput
      placeholder="Text"
      required
      [(ngModel)]="itemModel.text"></textarea>
  </mat-form-field>

  <mat-form-field color="primary">
    <input type="text" matInput placeholder="Id" required [(ngModel)]="itemModel.itemId">
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="Image" required [(ngModel)]="itemModel.image">
  </mat-form-field>

  <form
    class="list-item-container"
    (ngSubmit)="onSubmit()">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
