<div class="list-item-container">
  <form
    #thoughtForm="ngForm"
    class="list-item-container"
    (ngSubmit)="onSubmitClick()">

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field fxFlex>
        <input
          id="title"
          name="title"
          #title="ngModel"
          type="text"
          matInput
          placeholder="Title"
          required
          minlength="4"
          [(ngModel)]="itemModel.title">
      </mat-form-field>
      <div [hidden]="title.valid">
        <mat-icon color="primary">error</mat-icon>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field fxFlex>
    <textarea
      cdkTextareaAutosize="true"
      cdkAutosizeMaxRows="20"
      class="content-textarea"
      type="text"
      matInput
      placeholder="Text"
      required
      minlength="4"
      id="text"
      name="text"
      #text="ngModel"
      [(ngModel)]="itemModel.text"></textarea>
      </mat-form-field>
      <div [hidden]="text.valid">
        <mat-icon color="primary">error</mat-icon>
      </div>
    </div>


    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field fxFlex>
        <input
          id="id"
          name="id"
          #id="ngModel"
          type="text"
          matInput
          placeholder="Id"
          required
          minlength="4"
          [(ngModel)]="itemModel.itemId">
      </mat-form-field>
      <div [hidden]="id.valid">
        <mat-icon color="primary">error</mat-icon>
      </div>
    </div>


    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field fxFlex>
        <input
          id="date"
          name="date"
          #date="ngModel"
          matInput
          required
          minlength="4"
          [matDatepicker]="picker"
          placeholder="Choose a date"
          [(ngModel)]="itemModel.date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div [hidden]="date.valid">
        <mat-icon color="primary">error</mat-icon>
      </div>
    </div>

    <mat-form-field>
      <input
        name="image"
        type="text"
        matInput
        placeholder="Image"
        [(ngModel)]="itemModel.image">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!thoughtForm.form.valid">Submit</button>
  </form>
</div>
