<mat-toolbar color="primary">

  <mat-toolbar-row>
    <mat-button-toggle-group #languageGroup="matButtonToggleGroup">
      <mat-button-toggle value="{{croatianKeyValue}}">Croatian</mat-button-toggle>
      <mat-button-toggle value="{{italianKeyValue}}">Italian</mat-button-toggle>
      <mat-button-toggle value="{{spanishKeyValue}}">Spanish</mat-button-toggle>
    </mat-button-toggle-group>
    <span class="app-spacer"></span>
    <mat-button-toggle-group #typeGroup="matButtonToggleGroup" >
      <mat-button-toggle value="{{prayersKeyValue}}">Prayers</mat-button-toggle>
      <mat-button-toggle value="{{thoughtsKeyValue}}">Thoughts</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar-row>
</mat-toolbar>
<div class="example-selected-value">Selected value: {{languageGroup.value+typeGroup.value}}</div>
<app-listed-content></app-listed-content>
