<mat-chip-list aria-label="Fish selection">
  <mat-chip>
    <mat-icon matChipAvatar>link</mat-icon>
    {{navigationService.listedContentSubject | async}}</mat-chip>
  <mat-chip>
    <mat-icon matChipAvatar>format_line_spacing</mat-icon>
    {{(navigationService.currentListSize$ | async)}}</mat-chip>
</mat-chip-list>

<mat-accordion>
  <div *ngFor="let item of firebaseService.filteredData$ | async">
    <ng-container
      [ngTemplateOutlet]="(navigationService.listedContentSubject | async).includes('prayers') ? prayers : thoughts"
      [ngTemplateOutletContext]={item:item}>
    </ng-container>
  </div>
</mat-accordion>

<ng-template #prayers let-item='item'>
  <app-item-content-prayer
    [prayerModel]=item></app-item-content-prayer>
</ng-template>

<ng-template #thoughts let-item='item'>
  <app-item-content-thought
    [thoughtModel]=item></app-item-content-thought>
</ng-template>
