<mat-toolbar color="primary">
  <mat-toolbar-row>

    <mat-form-field>
      <mat-select #languageGroup="matSelect" value="{{croatianKeyValue}}">
        <mat-option value="{{croatianKeyValue}}" (click)="setContent()">Croatian</mat-option>
        <mat-option value="{{italianKeyValue}}" (click)="setContent()">Italian</mat-option>
        <mat-option value="{{spanishKeyValue}}" (click)="setContent()">Spanish</mat-option>
      </mat-select>
    </mat-form-field>

    <span class="app-spacer"></span>

    <mat-form-field>
      <mat-select #typeGroup="matSelect" value="{{prayersKeyValue}}">
        <mat-option value="{{prayersKeyValue}}" (click)="setContent()">Prayers</mat-option>
        <mat-option value="{{thoughtsKeyValue}}" (click)="setContent()">Thoughts</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-toolbar-row>
</mat-toolbar>

<mat-chip-list aria-label="Fish selection">
  <mat-chip>
    <mat-icon matChipAvatar>link</mat-icon>{{languageGroup.value + typeGroup.value}}</mat-chip>
</mat-chip-list>

