<mat-toolbar color="primary">
  <mat-toolbar-row>

    <mat-form-field>
      <mat-select #languageGroup="matSelect" value="{{croatianKeyValue}}">
        <mat-option value="{{croatianKeyValue}}" (click)="setContent()">Croatian</mat-option>
        <mat-option value="{{italianKeyValue}}" (click)="setContent()">Italian</mat-option>
        <mat-option value="{{spanishKeyValue}}" (click)="setContent()">Spanish</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container [ngTemplateOutlet]="isSearchMode ? searchModeOn : searchModeOff"></ng-container>


    <mat-form-field>
      <mat-select #typeGroup="matSelect" value="{{prayersKeyValue}}">
        <mat-option value="{{prayersKeyValue}}" (click)="setContent()">Prayers</mat-option>
        <mat-option value="{{thoughtsKeyValue}}" (click)="setContent()">Thoughts</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-toolbar-row>
</mat-toolbar>

<ng-template #searchModeOn>
  <mat-form-field class="app-spacer search-input" floatLabel="never">
    <input matInput placeholder="Search" (input)="onSearchInput(searchInput.value)" #searchInput>
  </mat-form-field>
  <button
    mat-icon-button
    (click)="switchSearchMode()">
    <mat-icon>cancel</mat-icon>
  </button>
</ng-template>

<ng-template #searchModeOff>
  <div class="app-spacer"></div>
  <button
    mat-icon-button
    [routerLink]="['new']"
    *ngIf="router.url === '/'">
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-icon-button
    [routerLink]="['/']"
    *ngIf="router.url !== '/'">
    <mat-icon>menu</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="switchSearchMode()"
    *ngIf="router.url === '/'">
    <mat-icon>search</mat-icon>
  </button>
</ng-template>
