<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <div class="login-icon-image">
        <img src="../../assets/images/login.png">
      </div>
    </mat-card-header>
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form" (ngSubmit)="doLogin()">
      <mat-card-content>

        <mat-form-field class="max-width">
          <input type="email" matInput placeholder="Email" required [(ngModel)]="email" name="email">
        </mat-form-field>

        <mat-form-field class="max-width">
          <input type="password" matInput placeholder="Password" required [(ngModel)]="password" name="password">
        </mat-form-field>

      </mat-card-content>
      <button mat-raised-button color="primary" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>
